# Configurações do Manager
HOST="https://api.example.com"
AUTHORIZATION="Basic your_base64_encoded_credentials"
OAUTH_CLIENT_ID="username"
OAUTH_CLIENT_SECRET="secret"
REQUEST_TIMEOUT=30

# Dados da API
API_ID=666

# Dados do Adaptive Governance
WORKFLOW_ID=333
WORKFLOW_STAGE_ID=999

# TAGS DA API
# Seguem o seguinte padrão: API_TAGS_<descrição>=AtrributeName:tag1,tag2
API_TAGS_CUSTOMER=Customer:internal,external
API_TAGS_ORDER=Order:read,write

API_VERSION=api-management.sensedia.com/v1