# ============================
# Configurações de Ambiente
# ============================

# URLs dos Ambientes
# ============================
PROD_URL="xxxxxxxxxxxxxxxxxxxxxxxx"

# ============================
# Configurações Gerais
# ============================

# Chave de API / Token
AUTHORIZATION="Basic xxxxxxxxxxxxxxxxxxxxxxxx"

# Timeout de requisições em segundos
REQUEST_TIMEOUT=123

# Ativar logs detalhados (true/false)
DEBUG=true
